@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@theme {
  --font-family-raleway: Raleway, sans-serif;
  
  --color-dark-blue: #0d1b2a;
  --color-semi-dark-blue: #1b263b;
  --color-blue: #415a77;
  --color-light-blue: #778da9;
  --color-white: #ffffff;
}

@layer base {
  html {
    @apply font-family-raleway;
  }
}