@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-family-raleway: Raleway, sans-serif;
  
  --color-dark-blue: #0d1b2a;
  --color-semi-dark-blue: #1b263b;
  --color-blue: #415a77;
  --color-light-blue: #778da9;
  --color-stroke: #e0e1dd;
  --color-soft-white: #fefefe;
  --color-white: #ffffff;
}

@layer base {
  html {
    @apply font-family-raleway;
  }
}

@layer components {
  .navtext {
    @apply text-black hover:text-blue transition font-normal text-base cursor-pointer;
  }
  .navdropdown {
    @apply block px-4 py-3 hover:bg-semi-dark-blue hover:text-white border-b border-gray-50 font-normal text-base cursor-pointer;
  }
}

